Opr_Inv_OperationAssetsInventory/Schemas/assetAddPreValSPResponse.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Resultsets">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="ResultSet1" maxOccurs="1" minOccurs="0" nillable="true">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="Record1" maxOccurs="unbounded" minOccurs="0" nillable="true">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:string" name="FAEDBT" maxOccurs="1" minOccurs="0" nillable="true"/>
                    <xs:element type="xs:string" name="FAEDLN" maxOccurs="1" minOccurs="0" nillable="true"/>
                    <xs:element type="xs:string" name="FAURRF" maxOccurs="1" minOccurs="0" nillable="true"/>
                    <xs:element type="xs:string" name="FANUMB" maxOccurs="1" minOccurs="0" nillable="true"/>
                    <xs:element type="xs:string" name="LongMessage" maxOccurs="1" minOccurs="0" nillable="true"/>
                    <xs:element type="xs:string" name="ErrorMessage" maxOccurs="1" minOccurs="0" nillable="true"/>                    
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>